.projects {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 2%;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 2s ease;
}
.projects:hover .images {
  transform: translateY(-5%);
}
.projects p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5%;
}
@media only screen and (max-width: 650px) {
  .projects {
    width: 100%;
  }
}
