.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-text {
  margin-left: 4rem;
}
.project-text h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.project-text p {
  font-size: 1.5rem;
}

.projects-list {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}
