.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.project-text h1 {
  font-size: 2.5rem;
  margin: 2%;
}
.project-text p {
  font-size: 1.5rem;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.project-header .arrow {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
