.skills-container {
  width: 100%;
  padding: 2%;
}
.skills-heading {
  font-size: 2.5rem;
  text-align: center;
}
.skills-desc {
  font-size: 1.5rem;
}
.skills-icons {
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills-icons img {
  width: 10%;
  height: 10%;
}
.skills-container .arrow {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  left: 40rem;
}
.technical-progressbar {
  width: 100%;

  display: flex;
  flex-direction: column;

}
.html {
 
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:0 auto;
}
.progress-skill {
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress-skill span {
  font-weight: 700;
} 
