.about-container {
  display: flex;
}
.about-left {
  width: 50%;
}
.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-right h1 {
  font-size: 2.5rem;
}
.desc {
  font-size: 1.5rem;
  line-height: 3rem;
}
.about-left img {
  width: 100%;
}
.about-container .arrow {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
/* responsive for mobile */
