.contact {
  display: flex;
  flex-direction: column;
}
.contact-title h1 {
  font-size: 2rem;
  text-align: center;
}
.contact-wrapper {

  padding: 0.5%;
  display: flex;
  text-align: center;
}
.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info{
 margin-top:3%;
}
.contact-info h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom:5%;
}
.contact-right {
  width: 50%;
}

.contact-info-icon {
  width:80%;
  line-height: 4rem;
  display: flex;

  align-items: center;
  font-size: 1.5rem;
 
}
.contact-info-icon img {
  width: 2;
  height: 2rem;
  margin-right: 1.2rem;
}
/* right-side */

.contact-user-text {
  font-size: 1.5rem;

  font-weight: bolder;
  margin-bottom: 2rem;
}
form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact-right input {
  padding:1%;
  width: 50%;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
textarea {
  font-size: 1.2rem;
  padding:1%;
}
.contact-right button {
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  padding:1%;
  margin-top: 3%;
}
.contact .arrow {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30%;
}
