/* //navbar */
.intro-navbar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.intro-navbar span {
  width: 10%;
  height:70px;
  border:2px solid red;
}
.intro-navbar span img{
  width:100%;
  height:100%;
  object-fit: cover;
 
}
a {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.intro-left-wrapper {

  padding: 2rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.intro-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 }
.intro-title {
  font-weight: 400;
}
.intro-name {
  font-size: 2.5rem;
}
.my-title {
  height: 50px;
  overflow: hidden;
}
.my-title-item {
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.my-title-wrapper {
  margin-left: 15rem;
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
  width: 30rem;
  color: orange;
}
.my-desc,
.my-title {
  margin-top: 2rem;
}
.my-desc {
  margin-left: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-150px);
  }
}
/* //my foto */

.intro-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.i-bg {
  background-color: orange;
  clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  width: 100%;
  height: 100%;
  
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow,.left-arrow {

  width:4rem;
  margin-top:2rem;
    bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* responsive mobile */
@media only screen and (max-width:450px){
   .intro-navbar a{
    font-size: 0.75rem;
  }
  .intro-navbar img {
    height: 8rem;
    width: 25%;
  }
  .intro-name {
    margin-top:1rem;
    font-size: 1.2rem;
    margin-left:1.2em;
  }
  .my-title-item {
 
    font-size: 1.2rem;
    font-weight: bold;
  margin-left:3rem;
  }
  .my-desc {
    width:25%;
    margin-left: 1.2rem;
    font-size: 1rem;
    line-height:1.5rem;
  }
  .i-bg img{

    width:90vw;
    height:30vh;
    overflow: hidden;
  }
  .right-arrow,.left-arrow {

    width:2.2rem;
    
  }
}