/* //navbar */
.intro-navbar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro-navbar span {
  width: 10%;
  height: 70px;
}
.intro-navbar span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  cursor: pointer;
  height: 90%;
}
.intro-container {
  display: flex;
  justify-content: center;
}
.intro-left-wrapper {
  padding: 2rem;
  width: 50%;
  height: 100%;
}
.intro-left {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-right {
  width: 100%;
}
.intro-title {
  font-weight: 400;
}
.intro-name {
  text-align: center;
  font-size: 2.5rem;
}
.my-title {
  height: 50px;
  overflow: hidden;
}
.my-title-item {
  font-size: 2rem;
  font-weight: bold;
}
.my-title-wrapper {
  animation: move 10s ease-in-out infinite alternate;
  width: 100%;
  color: orange;
}
.my-desc,
.my-title {
  margin-top: 2rem;
}
.my-desc {
  font-size: 1.5rem;
  line-height: 3rem;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-150px);
  }
}
/* //my foto */

.intro-right {
  width: 50%;
  /* height: 50vh; */
  padding: 25% 0;
  /*   object-fit: cover; */
  background-image: url(../../images/foto1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: orange;
 }
/*  clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */

.right-arrow,
.left-arrow {
  width: 40%;
  padding: 2%;
  margin-top: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* responsive mobile */
@media only screen and (max-width: 700px) {
  .intro-navbar a {
    font-size: 1rem;
  }
  .intro-title {
    font-size: 1rem;
  }
  .intro-name {
    font-size: 1.5rem;
  }
  .my-title-item {
    font-size: 1rem;
  }
  .my-desc {
    width: 100%;
    font-size: 1rem;
  }
}
