.intro-container {
  display: flex;justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro-left-wrapper {
  padding: 2rem;
  width:50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-left {
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.intro-right {
  flex: 1;display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
.intro-title {
  font-weight: 400;
}
.intro-name {
  font-size: 2.5rem;
}
.my-title {
  height: 50px;
  overflow: hidden;
}
.my-title-item {
  height: 50px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.my-title-wrapper {
margin-left:15rem;
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
  width:30rem;
}
.my-desc,.my-title{
    margin-top:2rem;
    
}
.my-desc{
  margin-left:3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(-150px);
  }
}
/* //my foto */

.intro-right{
   
    width:100%;
    height:100%;
    object-fit: cover;
}
 .i-bg{
  background-color: bisque;
  clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
    display:flex;
    justify-content: center;
    align-items: center;
} 
svg{
   width:10rem;
  height:3rem;
  position:absolute;
  bottom:3rem;
 
}